* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.vide {
    height: 50px;
}

/* NAVBAR */

.logo {
    width: 30px;
}

.logo:hover{
    opacity: 0.7;
}

#navbar {
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 6px black;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    height: 50px;
    
    z-index: 20;
}

.logo-nav {
    width: 30px;
}

#navbar>.sv {
    float: left;
    font-size: 16px;
    padding-top: 12px;
    padding-left: 10px;
    font-weight:900;
}



#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding-right: 20px;
    text-decoration: none;
    font-size: 13px;
    padding-top: 20px;
    font-weight:300;
}

#navbar a:hover{
    color:#DA192A;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}


/*SLIDER*/




/*VOYAGEZ EN*/


.voyagez-en {
    background-color: white;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    padding-bottom:10PX;
    margin-bottom: 0px;
    font-weight: 900;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    z-index:10;


}

/*DESTINATIONS COLONNES*/


.destinations-col {
    display: flex;
    width: 100%;

}

.col-img1,
.col-img2,
.col-img3 {
    width: 34%;
    height: 350px;
    text-align: center;
    transition: ease-in 0.2s;
}

.col-img1:hover,
.col-img2:hover,
.col-img3:hover {
    opacity: 0.7;
    cursor:pointer;
    transition: ease-in 0.2s;
}

.col-img1>p,
.col-img2>p,
.col-img3>p {
    font-size: 15px;
    letter-spacing: 3px;
    padding-top: 170px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
}

.col-img1 {
    background-image: url('../images/lesotho.jpg');
    background-size: cover;
}

.col-img2 {
    background-image: url('../images/ny.jpg');
    background-size: cover;
}

.col-img3 {
    background-image: url('../images/osaka.jpg');
    background-size: cover;
}


/*EXPERIENCES*/

.exp {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.exp>h2 {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 900;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.logo-exp {
    width: 80px;
}

.footer-3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

/*FOOTER*/

.col1,
.col2,
.col3 {
    margin-top: 30px;
}

.col1>img,
.col2>img,
.col3>img {
    margin-bottom: 30px;
}

FOOTER {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f2f2f2;
    
}

footer>p {
    margin-top: 30px;
    width: 70%;
}

.title-footer {
    font-weight: bolder;
    margin-bottom: 20px;
}

.copy {
    font-size: 10px;
    padding-top: 10px;
}

.socials {
    padding-top: 20px;
}

.logo-nav {
    display: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-15 15:47:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  
  .roll-in-left {
	-webkit-animation: roll-in-left 2s ease-out both;
            animation: roll-in-left 2s ease-out both;
            
            
}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-15 19:13:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
  




@media only screen and (min-width:768px) {
    #navbar{
        height:60px;
    }

    .vide{
        height:60px;
    }
    .logo-nav {
        display: inline-block;
        padding-right: 10px;
    }



    .col-img1,
    .col-img2,
    .col-img3 {
        height: 600px;
    }

    .col-img1>p,
    .col-img2>p,
    .col-img3>p {
        padding-top: 300px;
        font-size: 30px;
    }


    .footer-3 {
        display: flex;
        width: 90%;
        padding-bottom: 30px;

    }

    .col1,
    .col2,
    .col3 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .col-footer {
        display: flex;
        padding-top: 20px;
        margin-bottom: 30px;
    
    }

}

@media only screen and (min-width:1024px) {

    body {
        background-color: #F2F2F2;
    }

    #navbar {
        height: 90px;
    }

    .vide {
        height: 90px;
    }

    #navbar>.sv {
        font-size: 30px;
        font-weight: 900;
        padding-top: 20px;

    }

    #navbar a {
        font-size: 25px;
        padding-top: 20px;
    }

    .logo {
        width: 50px;
    }

    .logo-nav {
        width: 50px;
    }

    .voyagez-en {
        font-size: 50px;
        padding: 50px;
        width:50%;
        background-color: #F2F2F2;
    }

    .col-img1,
    .col-img2,
    .col-img3 {
        height: 100vh;
        text-align: center;
    }

    .col-img1>p,
    .col-img2>p,
    .col-img3>p {
        padding-top: 50vh;
        font-size: 500%;
    }

    .footer-3{
        justify-content: space-evenly;
    }

    .exp>h2 {
        font-size: 50px;
        padding-top: 30px;
        padding-bottom: 100px;
    }

    .logo-exp {
        width: 200px;
    }

    .col1,
    .col2,
    .col3 {
        width: 20%;
        font-size: 25px;
    }

    .title-footer{
        font-size:20px;
    }

    .col-footer{
        justify-content: center;
    }

.col-footer >div{
    width:20%;
    margin:20px;
    
}

    

}

